body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
body > .content {
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content > .left {
  width: 50%;
  height: 100%;
  background-color: #c3d0f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left > img {
  width: 300px;
  height: auto;
  padding-bottom: 40px;
}
.left > h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 40px;
}
.left > h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}

.content > .right {
  width: 50%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right > img {
  padding-bottom: 40px;
}
.right > form {
  display: flex;
  flex-direction: column;
}
form > input {
  width: 300px;
  height: 45px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 2px solid #a8a8b3;
  box-sizing: border-box;
  border-radius: 8px;
}
form > input::placeholder {
  padding-left: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #a8a8b3;
}
form > button {
  width: 300px;
  height: 45px;
  background: #3884FD;
  border: none;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
button > img {
  margin: 0;
  padding: 0;
  padding-right: 2px;
}
button > span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fefefe;
  letter-spacing: 0.06em;
}
form > button:hover {
  filter: brightness(0.9);
}

form > .separator {
  font-size: 14px;
  color: #a8a8b3;
  margin: 32px 0;
  display: flex;
  align-items: center;
}
.separator::before {
  content: "";
  flex: 1;
  height: 1px;
  background: #a8a8b3;
  margin-right: 16px;
}
.separator::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #a8a8b3;
  margin-left: 16px;
}
 .loginWithGoogle {
  width: 300px;
  height: 45px;
  background-color: transparent;
  border: 3px solid #3884FD;
  box-sizing: border-box;
  border-radius: 8px;
  color: #3884FD;
}
.loginWithGoogle:hover {
  background-color: #0b54d3;
  border: none;
}
.loginWithGoogle >a{
  text-decoration: none;
  color: #3884FD;
  
}
.loginWithGoogle a> span{
  color: #3884FD;
  margin: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.06em;

}
.loginWithGoogle:hover a> span{
  color: #ffffff;
  margin: 4px;
}