html body{
  padding: 0;
  margin: 0;
  border: 0;
}
header {
  width: 100vw;
  height: 10vh;
  display: flex;
  background-color: #3884FD;
  justify-content: space-between;
  align-items: center;
}
header > img {
  margin-left: 1rem;
  height: 7vh;
}
header > .logout > button {
  display: flex;
  background-color: transparent;
  border: none; 

}
body {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
body > .content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  flex-direction: row;
  margin-top: 1rem;
}
.content > .left {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 38%;
  height: 87vh;
  /* background-color: red; */
}
.left > .up {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.left > .up img{
  width: 30%;
  height: auto;
}


.infos > h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #000000;
  margin-left: .5rem;
}
.infos > h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 0.09em;
  color: #000000;
  margin-left: .5rem;

}
.infos > span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 0.09em;
  color: red;
  margin-left: .5rem;

}
.left > h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.09em;
  position: relative;
  display: inline-block;
  left: -12rem;
}
.left > p {
  max-width: 90%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7rem;
  /* or 214% */
  text-align: justify;
  letter-spacing: 0.03em;
  color: #000000;
}
.content > .right {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  width: 50%;
  height: 87vh;
  flex-direction: column;
  align-items: center;
}
.right > h1 {
  font-family: Roboto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7rem;
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.right > .groupCheckbox {
  margin-left: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}  
.groupCheckbox > input {
  margin: 0.4rem;
}
.groupCheckbox > label {
  font-family: Roboto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7rem;
  display: inline-block;
  margin-left: 1rem;
}
.right > button {
  margin-top: 1rem;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.185em;
  background-color: inherit;
  border: none;
  border-radius: 0.5rem;
  color: red; 
/* import IconMentoring from '../../assets/mentorando/mentoring.svg'
import IconCalendar from '../../assets/mentorando/calendar.svg' */        
}
.right > button:hover {
  background-color: #fefefe;
  color: #000000;
} 

.daysSelected:hover {
  color: #3884FD;
}